@mixin respondTo($breakpoint) {
    @if ($breakpoint == mobile) {
        @media (min-width: 320px) {
            @content;
        }
    }

    @if ($breakpoint == tab) {
        @media (min-width: 480px) {
            @content;
        }
    }

    @if ($breakpoint == sm) {
        @media (min-width: 767px) {
            @content;
        }
    }

    @if ($breakpoint == md) {
        @media (min-width: 1025px) {
            @content;
        }
    }

    @if ($breakpoint == lg) {
        @media (min-width: 1440px) {
            @content;
        }
    }

    @if ($breakpoint == desktop1) {
        @media (min-width: 1600px) {
            @content;
        }
    }

    @if ($breakpoint == desktop2) {
        @media (min-width: 1920px) {
            @content;
        }
    }
}