.ctaContainers {
    text-align: center;
    margin: 4rem 0 4rem 0 !important;
    transition: 0.3s;

    @include respondTo(md) {
        cursor: pointer;

        &:hover {
            transition: 0.3s;
            color: #333;
            transform: translateY(-2px);
        }
    }
    
    .cta {
        color: white;
        text-decoration: none;
        text-transform: uppercase;
        background-color: #0671C4;
        border-right: solid 2px #333;
        border-bottom: solid 2px #333;
        border-radius: 0.25rem;
        padding: 0.75rem;
        transition: 0.3s;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.6);

        @include respondTo(sm) {
            font-size: 1rem;
        }

        @include respondTo(md) {
            font-size: 1.25rem;
            padding: 1rem;
            
            &:hover {
                transition: 0.3s;
                color: #333;
            }
        }
    }
}