#mapContainer {
    #map {
        height: 300px;      /*Pour afficher la map, elle a besoin d'une hauteur */
        border-top: #333 solid;
        border-bottom: white solid;
        z-index: 1;
    }
}
