#navbar {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #222;
    height: 50px;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    
    @include respondTo(md) {
        font-size: 0.85rem;
        position: inherit;
        height: inherit;
        display: block;
    }

    ul {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0 2.5rem;
        
        @include respondTo(sm) {
            gap: 0 8rem;
        }

        @include respondTo(md) {
            gap: 0 4rem;
            margin-right: 4rem;
        }

        li {
            transition: 0.3s;

            @include respondTo(md) {
                &:hover {
                    transform: translateY(-2px);
                    transition: 0.3s;
                }
            }

            a {
                color: white;
                text-decoration: none;
                transition: 0.3s;

                @include respondTo(md) {
                    &:hover {
                        color: #0671C4;
                        cursor: pointer;
                        transition: 0.3s;
                    }

                    &:active {
                        color: #05406d;
                        transition: none;
                    }
                }

                .navbarTxt {
                    display: none;

                    @include respondTo(md) {
                        display: block;
                    }
                }

                .navbarIcons {
                    width: 32px;
                }
            }
        }
    }
}