#navbar {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #222;
    height: 50px;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    font-size: 0.75rem;
    
    @include respondTo(md) {
        position: inherit;
        height: inherit;
        display: block;
    }

    ul {
        display: flex;
        align-items: center;
        
        @include respondTo(md) {
            gap: 0 2rem;
        }

        li {
            transition: 0.3s;

            @include respondTo(md) {
                &:hover {
                    transform: translateY(-2px);
                    transition: 0.3s;
                }
            }

            a {
                color: white;
                text-decoration: none;
                transition: 0.3s;

                @include respondTo(md) {
                    &:hover {
                        color: #0671C4;
                        cursor: pointer;
                        transition: 0.3s;
                    }

                    &:active {
                        color: #05406d;
                        transition: none;
                    }
                }

                .navbarTxt {
                    display: none;
                    text-align: center;
                    
                    @include respondTo(md) {
                        display: block;
                    }
                }

                .lg {
                    min-width: 190px;
                }

                .navbarIcons {
                    width: 32px;
                }
            }
        }
    }
}