#pictureGallery {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='119' height='119' viewBox='0 0 200 200'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='100' y1='33' x2='100' y2='-3'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='100' y1='135' x2='100' y2='97'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%23c6c6c6' fill-opacity='0.02'%3E%3Crect x='100' width='100' height='100'/%3E%3Crect y='100' width='100' height='100'/%3E%3C/g%3E%3Cg fill-opacity='0.02'%3E%3Cpolygon fill='url(%23a)' points='100 30 0 0 200 0'/%3E%3Cpolygon fill='url(%23b)' points='100 100 0 130 0 100 200 100 200 130'/%3E%3C/g%3E%3C/svg%3E");

    h1 {
        margin-top: 6rem;
        color: #0671C4;
        text-align: center;
        font-size: 1.25rem;
        margin-bottom: 2rem;
        text-transform: uppercase;

        @include respondTo(md) {
            font-size: 1.5rem;
        }
    }
    
    #pictureGalleryMainContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem 0;

        @include respondTo(sm) {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            justify-items: center;
        }

        @include respondTo(md) {
            grid-template-columns: repeat(3, 1fr);
        }

        img {
            border: solid #111 2px;
            border-radius: 0.5rem;
            object-fit: cover;
            display: block;    
            box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
            height: 200px;
            width: 200px;
            
            @include respondTo(sm) {
                height: 250px;
                width: 250px;
            }
        }
    }
}