header {
    gap: 0 2rem;
    text-transform: uppercase;
    font-weight: bolder;
    position: fixed;
    width: 100%;
    z-index: 1000;
    background-color: #222;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
    color: #0671C4;
    border-bottom: #333 2px solid;
    
    #headerMainContentContainer {
        padding: 1rem 1rem;
        display: flex;
        align-items: center;
        position: relative;

        @include respondTo(md) {
            padding: 0.25rem 1rem;
        }

        #logoContainer {
            display: flex;
            align-items: center;
            gap: 0 1rem;
            
            @include respondTo(md) {
                width: 100%;
                margin-left: 4rem;
            }

            #logo {
                width: 42px;
                
                @include respondTo(sm) {
                    width: 64px;
                }
                
                @include respondTo(md) {
                    width: 82px;
                }
            }

            #headerTitleContainer {
                display: flex;
                flex-direction: column;
                gap: 0.5rem 0;
                border-right: solid white 2px;
                border-bottom: solid white 2px;
                box-shadow: 5px 5px 0px 0px rgba(0,0,0,.15);
                padding: 0 0.5rem 0.5rem 0;
                border-bottom-right-radius: 0.5rem;
                line-height: 0.75rem;
                font-size: 0.75rem;

                @media screen and (min-width: 0px) and (max-width: 359px) {
                    font-size: 0.5rem;
                }
                
                @include respondTo(sm) {
                    font-size: 0.85rem;
                }

                @include respondTo(md) {
                    font-size: 1rem;
                }

                strong {
                    color: white;
                }

                #detailing {
                    color: white;
                }
            }
        }
    
        #burgerMenuMainContainer {
            text-align: right;
            position: absolute;
            top: 1rem;
            right: 1rem;

            @include respondTo(md) {
                display: none;
            }
    
            .burgerMenuImgContainer {
                img {
                    width: 32px;
                    margin-left: 2rem;

                    @include respondTo(sm) {
                        width: 48px;
                    }

                    @include respondTo(md) {
                        margin-left: 0;

                        &:hover {
                            cursor: pointer;
                        }
                    }
                }
            }
    
            #burgerMenuCloserContainer {
                display: none;
            }
        }

    }

    #burgerMenu {
        display: none;
        font-size: 0.85rem;
        
        ul {
            display: flex;
            flex-direction: column;
            gap: 1rem 0;
            
            li {
                text-align: right;
                padding: 0 1rem 1rem 0;
                width: 100%;
                border-bottom: solid rgba(0, 0, 0, 0.1) 1px;

                a {
                    text-decoration: none;
                    color: white;
                    font-size: 0.75rem;
                    transition: 0.3s;

                    @include respondTo(md) {
                        &:hover {
                            color: #0671C4;
                            cursor: pointer;
                            transition: 0.3s;
                        }
                    }
                }
            }
        }
    }
}