main {
    color: white;

    section {
        padding: 2rem 1rem;
        line-height: 1.5rem;

        .defaultMainContainer {
            @include respondTo(md) {
                margin: 0 8rem;
            }

            @include respondTo(lg) {
                margin: 0 20rem;
            }
        }

        .sectionTopContainers {
            text-align: center;
            margin-bottom: 4rem;

            .sectionTitle {
                font-size: 1rem;
                text-transform: uppercase;
                position: relative;
                margin-bottom: 3rem;
                color: #0671C4;
                
                @include respondTo(md) {
                    font-size: 1.75rem;
                }

                &::after {
                    content: "";
                    position: absolute;
                    bottom: -20px;
                    left: 50%;
                    transform: translateX(-50%);
                    background-color: #0671C4;
                    width: 80px;
                    height: 4px;
                    border-radius: 0.5rem;
                }
            }

            p {
                font-size: 0.85rem;

                @include respondTo(md) {
                    font-size: 1rem;
                }

                strong {
                    color: #0671C4;
                }
            }

            .prestation {
                @include respondTo(md) {
                    margin: 0 8rem;
                }
            }
        }
    }

    #homeSection {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        height: 100dvh;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='119' height='119' viewBox='0 0 200 200'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='100' y1='33' x2='100' y2='-3'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='100' y1='135' x2='100' y2='97'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%23c6c6c6' fill-opacity='0.02'%3E%3Crect x='100' width='100' height='100'/%3E%3Crect y='100' width='100' height='100'/%3E%3C/g%3E%3Cg fill-opacity='0.02'%3E%3Cpolygon fill='url(%23a)' points='100 30 0 0 200 0'/%3E%3Cpolygon fill='url(%23b)' points='100 100 0 130 0 100 200 100 200 130'/%3E%3C/g%3E%3C/svg%3E");

        #homeContentMainContainer {
            z-index: 1;
            
            #homeMainContentContainer {
                position: relative;
                overflow: hidden;
                
                @include respondTo(md) {
                    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
                    border: solid 8px #222;
                    border-radius: 0.5rem;
                    display: grid;
                    gap: 4rem 0;
                    grid-template-columns: 1fr 1fr;
                    grid-template-rows: 1fr 1fr;
                    margin-top: 4rem;
                    height: 80%;
                }

                #homeImg {
                    display: none;
                    
                    @include respondTo(md) {
                        display: block;
                        bottom: -190px;
                        left: -120px;
                        position: absolute;
                        width: 512px;
                        opacity: 0.85;
                    }
                }
                    
                #titleContainer {
                    grid-column: 1/3;
                }
                
                #homeSpeechAndCtaContainer {
                    grid-column: 2;
                    grid-row: 2;

                    @include respondTo(md) {
                        margin: 2rem;
                    }

                    #speechContainer {
                        text-align: center;

                        @include respondTo(md) {
                            text-align: left;
                        }

                        h2 {
                            color: white;
                            font-size: 0.85rem;
                            text-transform: uppercase;
                            margin-bottom: 2rem;

                            strong {
                                color: #0671C4;
                            }
                        }

                        p {
                            margin: 1rem 0 2rem 0;
                            font-size: 0.85rem;
                        }
                    }

                    #homeCtaMainContainer {
                        margin-bottom: 2rem;
                        
                        #homeCta {
                            border: solid #0671C4 2px;
                            border-radius: 0.5rem;
                            padding: 0.5rem;
                            text-transform: uppercase;
                            text-decoration: none;
                            color: #0671C4;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            gap: 0 1rem;
                            width: fit-content;
                            margin: 0 auto;
                            box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.35);
                            transition: 0.3s;
                            font-size: 0.75rem;

                            @include respondTo(md) {
                                margin: inherit;
                                font-size: 1rem;

                                &:hover {
                                    transform: translateY(-2px);
                                    transition: 0.3s;
                                }
                            }
                    
                            #homeCtaImg {
                                width: 24px;
                            }
                        }
                    }
                }
            }

            .homeContentContainers {
                margin: 4rem 0;

                @include respondTo(md) {
                    margin: 6rem 0;
                }
    
                h1 {
                    color: #0671C4;
                    text-transform: uppercase;
                    font-size: 1.5rem;
                    text-align: center;
                    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
                    letter-spacing: 0.25rem;
                    position: relative;
                    width: fit-content;
                    margin: 0 auto;
                    border: solid 2px;
                    border-radius: 0.5rem;
                    padding: 0.5rem;
                    background-color: #222;

                    @include respondTo(sm) {
                        font-size: 1.25rem;
                    }
    
                    @include respondTo(md) {
                        font-size: 1.5rem;
                        padding: 0.75rem;
                        border: solid 4px;
                    }

                    @include respondTo(lg) {
                        font-size: 2rem;
                    }

                    strong {
                        color: white;
                    }

                    #titleImg {
                        display: none;

                        @include respondTo(md) {
                            display: block;
                            position: absolute;
                            width: 258px;
                            right: 20%;
                            bottom: 50%;
                            transform: translateY(50%);
                            z-index: -1;
                            opacity: 0.4;
                        }
                    }
                }
                
                p {
                    font-weight: bolder;
                    text-align: center;

                    @include respondTo(sm) {
                        font-size: 1rem;
                    }
    
                    @include respondTo(md) {
                        font-size: 1.25rem;
                    }
                }
            }
        }
    }

    #aboutSection {
        background-color: #222;

        #aboutSectionTopContainer {
            #presentationVideoContainer {
                border: solid 2px #eee;
                width: 300px;
                height: 100%;
                border-radius: 0.5rem;
                box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
                margin: 0 auto;
                margin-top: 2rem;

                video {
                    border-radius: 0.5rem;
                    display: block;
                    width: 100%;
                    height: 100%;
                }
            }
        }

        #aboutSectionMainContainer {
            @include respondTo(md) {
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 0 4rem;
            }

            .aboutSectionContainers {
                text-align: center;

                @include respondTo(md) {
                    text-align: inherit;
                }
                
                h3 {
                    color: #0671C4;
                    margin: 1.5rem 0;
                    text-transform: uppercase;
                    position: relative;
                    
                    @include respondTo(sm) {
                        font-size: 1rem;
                    }

                    @include respondTo(md) {
                        margin-bottom: 3rem;
                        font-size: 1.25rem;
                    }
                }

                p {
                    font-size: 0.85rem;

                    @include respondTo(sm) {
                        font-size: 1rem;
                    }
                }
    
            }
        }

        #certificationMainContainer {
            #certificationContainer {
                display: flex;
                flex-direction: column;
                margin-top: 2rem;
                align-items: center;
                gap: 2rem 0;
                
                @include respondTo(md) {
                    flex-direction: row;
                    gap: 0 2rem;
                }

                .certifications {
                    box-shadow: 0px 0px 5px 0px rgba(0,0,0,.5);
                    width: 350px;
                    height: 250px;
                    border: solid 2px #eee;
                    border-radius: 0.5rem;
                }
            }
        }
    }

    #specsMainContainer {
        border-bottom: solid #eee 2px;
        border-top: solid #eee 2px;
        background-color: #333;
        width: 100%;
        display: flex;
        flex-direction: column;
        color: #eee;
        font-size: 0.85rem;

        @include respondTo(md) {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
        }

        .specsContainers {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            gap: 1rem 0;
            padding: 0 4rem;
            margin-top: 2rem;

            img {
                width: 36px;
            }

            h4 {
                text-transform: uppercase;
                color: #0671C4;
            }

            p {
                line-height: 1.5rem;
            }
        }

        .last {
            margin-bottom: 2rem;
        }
    }
    
    #prestationSection {
        background-color: #222;

        #prestationSectionMainContainer {
            display: flex;
            flex-direction: column;
            align-items: center;

            @include respondTo(md) {
                display: grid;
                justify-items: center;
                grid-template-columns: 1fr 1fr;
                gap: 0 2rem;
            }

            .prestationMainContainers {
                position: relative;
                margin-bottom: 4rem;
                text-align: center;
                background-color: #333;
                width: 200px;
                border-radius: 0.5rem;

                @include respondTo(sm) {
                    width: 300px;
                }

                @include respondTo(md) {
                    width: 350px;
                }

                &::after {
                    content: "";
                    width: 100px;
                    height: 2px;
                    background-color: #444;
                    position: absolute;
                    bottom: -20px;
                    left: 50%;
                    transform: translateX(-50%);

                    @include respondTo(md) {
                        display: none;
                    }
                }
                    
                img {
                    display: block;
                    box-sizing: border-box;
                    object-fit: cover;
                    border-radius: 0.5rem;
                    opacity: 0.3;
                    width: 200px;
                    max-height: 300px;
                    border: #222 solid 2px ;
                    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
                    transition: 0.3s;
                    
                    @include respondTo(sm) {
                        width: 300px;
                    }
                    
                    @include respondTo(md) {
                        width: 350px;
                        height: 400px;
                        max-height: 400px;


                        &:hover {
                            opacity: 1;
                            transform: scale(1.025);
                            border: #eee solid 2px;
                            transition: 0.3s;
                        }
                    }
                }

                h4 {
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    left: 0;
                    right: 0;
                    color: #eee;
                    text-transform: uppercase;
                    z-index: 100;
                    font-size: 0.6rem;

                    @include respondTo(md) {
                        font-size: 1rem;
                    }
                }
            }

            .middle {
                grid-column: 1/3;
            }
        }

        #prestationSectionCta {
            @media screen and (min-width: 0px) and (max-width: 359px) {
                font-size: 0.5rem;
            }
        }
    }

    #contactSection {
        #sloganContainer {
            margin: 1.5rem 0;

            h3 {
                font-size: 1rem;
                text-transform: uppercase;
                color: white;

                strong {
                    color: #0671C4;
                }
            }
        }

        #contactSectionMainContainer {
            border: solid #111 2px;
            background-color: #222;
            border-radius: 0.5rem;
            margin: 0 auto;
            width: fit-content;
            padding: 0.5rem;
            box-shadow: 0px 0px 5px 0px rgba(0,0,0,.5);
            font-size: 0.7rem;

            @include respondTo(md) {
                font-size: 1rem;
            }

            #contatcsContainer {
                ul {
                    display: flex;
                    flex-direction: column;
                    gap: 1rem 0;
    
                    li {
                        display: flex;
                        align-items: center;
                        justify-content: left;
                        gap: 0 1rem;

                        @media screen and (min-width: 0px) and (max-width: 359px) {
                            word-break: break-all;
                        }
    
                        img {
                            width: 36px;

                            @media screen and (min-width: 0px) and (max-width: 359px) {
                                width: 24px;
                            }

                        }

                        #mailMe {
                            color: white;
                            text-decoration: none;

                            @include respondTo(md) {
                                &:hover {
                                    color: #0671C4;
                                }
                            }
                        }
                    }
                }
            }

            #contactSectionSocialIconsContainer {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 0 2rem;
                margin-top: 2rem;

                li {
                    a {
                        img {
                            width: 36px;

                            @include respondTo(md) {
                                cursor: pointer;
                                width: 36px;
                                transition: 0.3s;
                        
                                &:hover {
                                    transition: 0.3s;
                                    transform: translateY(-2px);
                                }
                        
                                &:active {
                                    transform: translateY(3px);
                                    transform: translateX(3px);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}